
  .instagram {
    color:#e205c1;
    transition: color 0.2s; 
    font-size:22;;
    text-align:center;
}

  .instagram:hover{color:rgb(135, 56, 127);}

  .twitter {
    color:#26a7de;
    transition: color 0.2s;
    font-size:22;
    text-align:right;

}
  .twitter:hover{color:#6a7072}

  .threads {
    color:#000000;
    transition: color 0.2s;
    font-size:22;
    text-align:center;

}
  .threads:hover{color:whitesmoke}

  body {background-color:rgb(220, 220, 215);
font-family:Monospace ;
font-size: larger;
margin:0;
}

h1 {color:blue;}

img 
{
  border:2px solid Tomato;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation:show 0.2s ease forwards;
  }
  @keyframes show{
    0%{
      scale:0%;
    }
    100% {
      scale:100%
    }
  }

  p {color:black; font-size: larger;}

    .nav-link {
        text-decoration: none;
        color:black;
        font-size: 20px;
        padding:10px;
        

    }
    nav {
        width:100%;
        height:30px;
        background-color: rgb(104, 127, 148);
        

    }
    .cockpit {
        font-family: monospace;
        text-decoration: none;
        font-size: 30px;
        text-align:center;
        color:rgb(255, 250, 250);
        }
    .cockpit-pic {
        animation:show 0.25s ease forwards;
        height: 592;
        width: 1350;
    }
   
    
    