
  .instagram {
    color:#e205c1;
    transition: color 0.2s; 
    font-size:22;;
    text-align:center;
}

  .instagram:hover{color:rgb(135, 56, 127);}

  .twitter {
    color:#26a7de;
    transition: color 0.2s;
    font-size:22;
    text-align:right;

}
  .twitter:hover{color:#6a7072}

  .threads {
    color:#000000;
    transition: color 0.2s;
    font-size:22;
    text-align:center;

}
  .threads:hover{color:whitesmoke}

  body {background-color:rgb(255, 255, 255);
font-family:Monospace ;
font-size: larger;
margin:0;
}

h1 {color:blue;}

img 
{
  border:2px solid Tomato;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation:show 0.2s ease forwards;
  }
  @keyframes show{
    0%{
      scale:0%;
    }
    100% {
      scale:100%
    }
  }

  p {color:black; font-size: larger;}

    .nav-link {
        float: left;
        text-decoration: none;
        color:#f2f2f2;
        font-size: 17px;
        padding: 8px 11px;
        font-family:Arial, Helvetica, sans-serif;
      
    }
    .nav-link:hover{
      background-color: #ddd;
      color: black;
    }
    nav {
        width:100%;
        height:35px;
        background-color: #333;
        

    }
    .nav.split{
      float: right;
      background-color: #04AA6D;
      color: white;
    }
    .cockpit {
        font-family: monospace;
        text-decoration: none;
        font-size: 20px;
        text-align:center;
        color:rgb(255, 250, 250);
        }
    .cockpit-pic {
        overflow:auto;
        animation:show 0.25s ease forwards;
        height: 20rem;
        width: 40rem;
    }
    nav{
      display:inline-flex;
      justify-content:left;
      align-items: center;
    }
    
    
